venvs/*
venv*

*.pyc
*.png
*.out
tmp/*
spack
cheat
data/noise_parameters*.npz
data/F_to_STN_*.npz
data/roc_*.npz
data/completenesses_*.npz
tensorflow-pip-deneb/*
tensorflow-pip-deneb
data/CNN*
data/ldev/*
data/mymodel*
images/*
modules/__pycache__/*
pipelines/test_sourcefinding.py
submit_score.sh
batch_scripts/tmp_scripts/*
