# default values for the pipeline
[DEFAULT]
domain_border = 15
square_domains = True
wavelet_threshold = 3
wavelet_zstep = 50
lkh_threshold = 12
lkh_zbinning = 10
lkh_isdatadenoised = True 

NDomains = 144
input_datacube       = /work/ska/sdc2/dev/sky_ldev_v2.fits
input_continuumimage = None
output_directory = /scratch/izar/etolley/SDC2/ldev_output_test/



