# default values for the pipeline
[DEFAULT]
domain_border = 15
square_domains = True
wavelet_threshold = 3
wavelet_zstep = 50
lkh_threshold = 12
lkh_zbinning = 10
lkh_isdatadenoised = True 

NDomains = 3025
input_datacube = /scratch/foureste/sky_full_v2.fits
input_continuumimage = None
output_directory = /scratch/etolley/SDC2/full_output/

